DATA_ROOT=/opt/airflow/data
SOURCE_FILE=PS_20174392719_1491204439457_log.csv
BALANCE_INCONSISTENCY_THRESHOLD=0.35
SPARK_DRIVER_MEMORY=4g

# Metadata DB Airflow (docker compose)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
