# Données (jamais versionnées)
data/raw/*
data/bronze/*
data/bronze_streaming/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/bronze_streaming/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
logs/

# GE / notebooks / env
gx/uncommitted/
.ipynb_checkpoints/
.env

# OS
.DS_Store

#cahier de charge
docs/

.claude